<p><app-toolbar></app-toolbar></p>
<div class="area">
  <mat-card class="example-card">  
    <img mat-card-image src="./assets/banner-home.svg" alt="banner" />
    <mat-card-content>
      <p class="txt">
        Buckups segurança de informações, projetos personalizados sob demanda. 
        Escalonamento de computação em nuvem larga scala para Big Techs
        / 55 (47) 99720-6015 - b1010code@gmail.com
      </p> 
     <mat-card>
      <app-stepper></app-stepper>
      <img mat-card-image src="./assets/backups.png" alt="backups" />
     </mat-card>
      <mat-card-actions class="actions">
        <div style="margin-top: auto">
          <b>Integrado</b>
        </div>
        <button (click)="stripe()" class="stripe">
          Powered by <b>STRIPE</b>
        </button>
      </mat-card-actions>
      <img
        mat-card-image
        class="bnn"
        src="./assets/stripe-bnn.png"
        alt="stripe"
      />
    </mat-card-content>
  </mat-card>  
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<app-footer></app-footer>
