<mat-card class="flex-container">
  <mat-card-content class="flex-item-left">
    <p>
      Simplifique backups e a recuperação com um serviço completamente
      gerenciado em baseado em política
    </p>
  </mat-card-content>
  <mat-card-content class="flex-item-right">
    <p>
      Crie backups imutáveis para manter a proteção contra incidentes acidentais
      ou criminosos
    </p>
  </mat-card-content>
  <mat-card-content class="flex-item-right">
    <p>
      Monitore e comprove a conformidade de proteção de dados pelo uso de
      relatórios prontos para auditoria
    </p>
  </mat-card-content>
</mat-card>
