<body oncontextmenu="return false;"> 
<div class="area">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Gilberto Domingos Jr.</mat-card-title>
      <mat-card-subtitle>Analista de Sistemas / Programador</mat-card-subtitle><br>
      <mat-card-subtitle>whatsapp : 55 (47) 99720-6015</mat-card-subtitle>
      <mat-card-subtitle>github.com/b1010code</mat-card-subtitle>
      <mat-card-subtitle>b1010code&#64;gmail.com </mat-card-subtitle><br>
    </mat-card-header>    
    <mat-card>
      <mat-card-content>        
        <p>
          Superior completo em Análise e Desenvolvimento de Sistemas, certificação internacional, além de
          diversos cursos técnicos.
        </p>
        <p>
          Profissional dinâmico com formação, didática e boas práticas, diversos frameworks, desenvolvedor
          categoria FullStack: Back-end + Front-end + Banco de dados + Cloud Computing
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>          
        <mat-grid-list cols="3" rowHeight="3:2">
          <mat-grid-tile>            
            <img class="dip-java" src="./assets/cursos/superior.png" alt="curso superior" />
          </mat-grid-tile>
          <mat-grid-tile>
            <img class="dip-java" src="./assets/cursos/inter/w3-inter.png" alt="certificação internacional" />
          </mat-grid-tile>
          <mat-grid-tile> 
            <img class="dip-java" src="./assets/cursos/inter/w3-cert.jpg" alt="certificação internacional" />
          </mat-grid-tile>
        </mat-grid-list>
        </mat-card-content>    
    </mat-card>    
    <mat-card>
      <mat-card-content>
        <h2>Cursos (principais)</h2>
        <p>Computação em Nuvem | AWS</p>
        <p>Oracle Developer SQL e PL/SQL- Completo Avançado</p>
        <p>SqlServer</p>
        <p>Logica de Programação</p>
        <p>Estrutura de Dados</p>
        <p>ERP (Software de Gestão)</p>
        <p>Programação Aplicada</p>
        <p>Curso Engenharia de Software Web</p>
        <p>Aplicativos Específicos</p>
        <p>Introdução ao Scrum</p>
        <p>Curso REST APIs</p>
        <p>Curso Docker (imagens e containerização)</p>
        <p>Docker com SpringBoot e RabbitMQ</p>
        <p>Linux no Terminal</p>
        <br>
      </mat-card-content>

      <mat-card>
        <mat-card-content>
          <div class="align-horizontaly">
            <h2>Certificados</h2><p><b>(e outros cursos)</b></p>
          </div>          
          <mat-grid-list cols="3" rowHeight="3:2">
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/unic-align-tec.png"  alt="certificação alinhamento tec" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/java/3-spring-inter.jpg"  alt="certificação java" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/java/rabb-docker-spring.jpg"  alt="certificação java" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/aws-practitioner.png"  alt="certificação cloud" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/cloud-upper.jpeg"  alt="certificação cloud" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/cloud.png"  alt="certificação cloud" /></mat-grid-tile>         
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/java/0-poo.jpg"  alt="certificação java" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/java/apis-nativa.jpg"  alt="certificação java" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/java/estrutura-de-dados.jpg"  alt="certificação java" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/java/java-8-13.jpg"  alt="certificação java" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/java/java-junit.jpg"  alt="certificação java" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/javascript-4.jpg"  alt="certificação javascript" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/certificate-mean.jpg"  alt="certificação mean" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/javascript-3.jpg"  alt="certificação javascript" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/js-canvas.jpg"  alt="certificação javascript" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/node-expressjs.jpg"  alt="certificação node.js" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/nodejs-API.jpg"  alt="certificação node.js" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/nodejs-mongodb.jpg"  alt="certificação mongodb" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/typescript.jpg"  alt="certificação typescript" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/linux.jpg"  alt="certificação linux" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/angular/angular-4.jpg"  alt="certificação angular 4" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/angular/angular-7.jpg"  alt="certificação angular 7" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/angular/ionic.jpg"  alt="certificação ionic 3" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/emp-adm.png"  alt="certificação administração" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/marketing.png"  alt="certificação marketing" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/webdesigner.jpg"  alt="certificação webdesigner" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/1C-LogicaProgra.jpg"  alt="certificação lógica de programação" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/1D-SQL.jpg"  alt="certificação sql" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/java/2-javaWeb.jpg"  alt="certificação java" /></mat-grid-tile>
            <mat-grid-tile><img class="dip-java" src="./assets/cursos/java/1-java.jpg"  alt="certificação java" /></mat-grid-tile>
          <br>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
      <mat-card>          
              <mat-card-title class="tl">Outros Conhecimentos</mat-card-title>
              <mat-card-subtitle class="tl">Ferramentas para Design :</mat-card-subtitle>
          <mat-card-content class="b">
             <p><b>Adobe Illustrator</b></p>
             <p><b>Adobe Photoshop</b></p>
             <p><b>Corel Draw</b></p>
             <p><b>Inskape</b></p>
             <p><b>GIMP</b></p>             
          </mat-card-content>          
      </mat-card>
    </mat-card>
  </mat-card> <br><br>
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>    
  </ul>
</div>
</body>
<app-footer></app-footer>
