<p><app-toolbar></app-toolbar></p>

<div class="area">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" style="background-image: url('./assets/perfil.jpg'); background-size: cover;"></div>
      <mat-card-title>Desenvolvimento de Sistemas</mat-card-title>
      <mat-card-subtitle>Analista / Programador => Objetivo </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/banner-api.svg" alt="banner" />
    <mat-card-content>
      <mat-card-actions>
        <app-btn-anime></app-btn-anime>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
  <app-footer></app-footer>
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
